@typeparam T
@if (!string.IsNullOrWhiteSpace(Value?.ToString()))
{
    <tr>
        <td>@Label</td>
<<<<<<< HEAD
        <td><MudText Color="@Color">@Value</MudText> </td>
=======
        <td><MudText Color="@Color"></MudText> @Value</td>
>>>>>>> ce07926... CVat
    </tr>
}

@code {
    [Parameter]
    public T Value { get; set; }

    [Parameter]
    public string Label { get; set; }


    [Parameter] 
    public Color Color { get; set; } = Color.Default;
}
